[submodule "lib/MPU9250"]
	path = lib/MPU9250
	url = git@github.com:UT2UH/SparkFun_MPU-9250-DMP_Arduino_Library.git
[submodule "lib/RTCLib"]
	path = lib/RTCLib
	url = git@github.com:NeiroNx/RTCLib.git
[submodule "lib/ArduinoJson"]
	path = lib/ArduinoJson
	url = git@github.com:bblanchon/ArduinoJson.git
[submodule "lib/NTPClient"]
	path = lib/NTPClient
	url = git@github.com:taranais/NTPClient.git
[submodule "lib/NTPClient_"]
	path = lib/NTPClient_
	url = git@github.com:arduino-libraries/NTPClient.git
[submodule "lib/Adafruit/GFX"]
	path = lib/Adafruit/GFX
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "lib/Adafruit/ST7735"]
	path = lib/Adafruit/ST7735
	url = git@github.com:adafruit/Adafruit-ST7735-Library.git
[submodule "lib/Sparkfun/MPU9250"]
	path = lib/Sparkfun/MPU9250
	url = git@github.com:UT2UH/SparkFun_MPU-9250-DMP_Arduino_Library.git
